CERTREQ_USER="ANONYMOUS"
CERTREQ_PASS="NOPASSWORD"
CERTREQ_WORKDIR="$( mktemp -d )"
CERTREQ_TEMPLATE="ConfigMgrLinuxClientCertificate"
CERTREQ_CNLONG="$( hostname -f )"
CERTREQ_CNSHORT="$( echo "${CERTREQ_CNLONG%%.*}" )"
CERTREQ_SUBJECT="/DC=com/DC=example/DC=ad/CN=${CERTREQ_CNSHORT}/CN=${CERTREQ_CNPARAM:-CERTREQ_CNPARAM}"
CERTREQ_CA="http://ca2.ad.example.com"
